.input{
    width: 60vh;
    
    height: 80vh;
}
.Midnight-Elegance,.Navy-Prestige,.Royal-Clarity,.Emerald-Opulence,.Teal-Sophistication,.Crimson-Essence,.Corporate-Authority,.Creative-Energy,.Tech-Innovation,.Healthcare-Trust{
    width: 80vw;
    height: 80vh;
}
.Midnight-Elegance{
    background-color: #000000;
    color: #ffffff;
    
}
.Navy-Prestige{
    color: #ffffff;
    background-color: #A8A8A8;
    
}
.Royal-Clarity{
    color: black;
    background: rgb(65,105,225);
    background: radial-gradient(circle, rgba(65,105,225,1) 0%, rgba(255,255,255,1) 100%);  
}
.Emerald-Opulence{
    color: #2f4f4f;
    background-color: #F5F5DC;
 
}
.Teal-Sophistication{
    color: #ffffff;
    background-color: #386964;
    
}
.Crimson-Essence{
    color: #800020;
    background-color: #D3D3D3;

}
.Corporate-Authority{
    background-color: #2C3E50;
    color: #F5F5DC;
  
}
.Creative-Energy{
    background-color: #FF6B6B;
    color: #1E1E1E;
    
}
.Tech-Innovation{
    background-color: #3498DB;
    color: #ffffff;
    
}
.Healthcare-Trust{
    background-color: #5DADE2;
    color: blueviolet;
   
}
#preview {
    position: absolute;
    border-radius: 10%;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

.img-container{
    position: relative;
}
.resume-header{
    display: flexbox;
}